@page "/"

@inherits PageBase

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

@if (_tableRows.Count() == 0 )
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Network Count</th>
                <th>Location Count</th>
                <th>Session Count</th>
                <th>kWh</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody >
            @for(int idx = 0; idx < _tableRows.Count; idx++)
            {
               var idx1 = idx;

               @if (idx == 0)   // format totals 
               {
                    <tr @onclick="()=> TuggleShowDetails(State, idx1)" class=@(IsShowDetails(State, idx) ? "network-list-item-open" : "")>
                        <th scope="row">Totals</th>
                        <th scope="row">@_tableRows[idx].NetworkCount</th>
                        <th scope="row">@_tableRows[idx].LocationCount</th>
                        <th scope="row">@_tableRows[idx].SessionCount</th>
                        <th scope="row">@_tableRows[idx].KWh</th>
                        <th scope="row">@_tableRows[idx].Duration.ToString(Config.TimeSpanFormat)</th>
                        <th scope="row">@_tableRows[idx].Price.ToString("C")</th>
                        <th scope="row">@_tableRows[idx].Discount.ToString("C")</th>
                        <th scope="row">@((_tableRows[idx].Price - _tableRows[idx].Discount).ToString("C"))</th>
                    </tr>
               }
               else             // line 
               {
                    <tr @onclick="()=> TuggleShowDetails(State, idx1)" class=@(IsShowDetails(State, idx) ? "network-list-item-open" : "")>
                        <td scope="row">@_tableRows[idx].Title</td>
                        <td scope="row">@_tableRows[idx].NetworkCount</td>
                        <td scope="row">@_tableRows[idx].LocationCount</td>
                        <td scope="row">@_tableRows[idx].SessionCount</td>
                        <td scope="row">@_tableRows[idx].KWh</td>
                        <td scope="row">@_tableRows[idx].Duration.ToString(Config.TimeSpanFormat)</td>
                        <td scope="row">@_tableRows[idx].Price.ToString("C")</td>
                        <td scope="row">@_tableRows[idx].Discount.ToString("C")</td>
                        <td scope="row">@((_tableRows[idx].Price - _tableRows[idx].Discount).ToString("C"))</td>
                    </tr>                   
               }

                @if (IsShowDetails(State, idx))
                {
                    <tr>
                        <td colspan="9" class="td-body">
                            <NetworkList DashboardIdx=@idx ></NetworkList>
                        </td>
                    </tr>
                }
               
            }
        </tbody>
    </table>

    <button class="btn" @onclick="AddMonthGroup">Previous Month</button>
   
}
