@page "/GroupList"

@inherits PageBase

<h1>Group List</h1>

<h4>Add New Group</h4>

<EditForm Model="@newGroup" OnValidSubmit="@AddGroup">
    <DataAnnotationsValidator />
    <ValidationSummary />
     <div class="row">
        <div class="col-2">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="newGroup.Name" class="form-control" />
        </div>
        <div class="col-1 align-self-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
     </div>
</EditForm>

@if (groups is null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>           
                <th>Network Count</th>
                <th>Location Count</th>
                <th>Session Count</th>
                <th>kWh</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in groups)
            {
                <tr @onclick="()=> TuggleShowDetails(State, group.Id)" class=@(IsShowDetails(State, group.Id) ? "group-list-item-open" : "")>
                    <td>@group.Name</td>
                    <td scope="row">@group.NetworkCount</td>
                    <td scope="row">@group.LocationCount</td>
                    <td scope="row">@group.SessionCount</td>
                    <td scope="row">@group.KWh</td>
                    <td scope="row">@group.Duration.ToString(Config.TimeSpanFormat)</td>
                    <td scope="row">@group.Price.ToString("C")</td>
                    <td scope="row">@group.Discount.ToString("C")</td>
                    <td scope="row">@((group.Price - group.Discount).ToString("C"))</td>
                </tr>

                @if (IsShowDetails(State, group.Id))
                {
                    <tr>
                        <td colspan="9" class="td-body">
                            <GroupSessionList GroupId="group.Id"></GroupSessionList>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
