@inherits PageBase

@implements IDisposable

<div class="padding-left-5 location-list-item-header">
    <h5 class="margin-bottom-0">Location Details</h5>
</div>

<div class="padding-left-5 location-list-body">

    @if (!State.ShowForm)
    {
        <button @onclick="()=> TuggleVisibleForm(State)" type="button" class="btn btn-light">New Location</button>
    }
    else
    {
        <button @onclick="()=> TuggleVisibleForm(State)" type="button" class="btn btn-light">Hide Form</button>
        <br/><br/>

        <NewLocation NetworkId="@NetworkId"></NewLocation>
        <hr />
    }

    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Session Count</th>
                <th>kWh</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in _locationList)
            {
                <tr @onclick="()=> TuggleShowDetails(State, location.Id)" class=@(IsShowDetails(State, location.Id) ? "session-list-header" : "")>
                    <td scope="row">@location.Name</td>
                    <td scope="row">@location.Address</td>
                    <td scope="row">@location.SessionCount</td>
                    <td scope="row">@location.KWh</td>
                    <td scope="row">@location.Duration.ToString(Config.TimeSpanFormat)</td>
                    <td scope="row">@location.Price.ToString("C")</td>
                    <td scope="row">@location.Discount.ToString("C")</td>
                    <td scope="row">@((location.Price - location.Discount).ToString("C"))</td>
                </tr>

                @if (IsShowDetails(State, location.Id))
                {
                    <tr>
                        <td colspan="8" class="td-body">
                            <SessionList DashboardIdx="@DashboardIdx" 
                                NetworkId="@NetworkId" LocationId="@location.Id"></SessionList>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

