@inherits PageBase

@implements IDisposable

<div class="padding-left-5 network-list-item-header">
    <h5 class="margin-bottom-0">Network Details</h5>
</div>

<div class="padding-left-5 network-list-body">

    @if (!State.ShowForm)
    {      
        <button @onclick="()=> TuggleVisibleForm(State)" type="button" class="btn btn-light">New Network</button>
    }
    else
    {
        <button @onclick="()=> TuggleVisibleForm(State)" type="button" class="btn btn-light">Hide Form</button>
        <br/><br/>
        <NewNetwork></NewNetwork>
        
        <hr />
    }

<table class="table">
    <thead>
        <tr>
            <th>Network Name</th>
            <th>Location Count</th>
            <th>Session Count</th>
            <th>kWh</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Total Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var network in _networkList)
        {
                <tr @onclick="()=> TuggleShowDetails(State, network.Id)" class=@(IsShowDetails(State, network.Id) ? "location-list-item-open" : "")>
                <td scope="row">@network.Name</td>
                <td scope="row">@network.LocationCount</td>
                <td scope="row">@network.SessionCount</td>
                <td scope="row">@network.KWh</td>
                <td scope="row">@network.Duration.ToString(Config.TimeSpanFormat)</td>
                <td scope="row">@network.Price.ToString("C")</td>
                <td scope="row">@network.Discount.ToString("C")</td>
                <td scope="row">@((network.Price - network.Discount).ToString("C"))</td>
            </tr>

            @if (IsShowDetails(State, network.Id))
            {
                <tr>
                    <td colspan="8" class="td-body">
                        <LocationList DashboardIdx="@DashboardIdx" NetworkId="@network.Id"></LocationList>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

</div>
