@inherits PageBase

<div class="padding-left-5 session-list-header">
    <h5 class="margin-bottom-0">Session List</h5>
</div>

<div class="padding-left-5 session-list-body">

    @if (!State.ShowForm)
    {
        <button @onclick="()=> TuggleVisibleForm(State)" type="button" class="btn btn-light">New Session</button>
    }
    else
    {
        <button @onclick="()=> TuggleVisibleForm(State)" type="button" class="btn btn-light">Hide Form</button>
        <br/><br/>

        <NewSession NetworkId="NetworkId" LocationId="LocationId"></NewSession>
        <hr />
    }

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>kWh</th>
                <th>Duration</th>
                <th>Type</th>
                <th>Car</th>
                <th>Through</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in _sessionList)
            {
                <tr @onclick="()=> TuggleShowDetails(State, session.Id)" class=@(IsShowDetails(State, session.Id) ? "session-list-item-open" : "")>
                    <td scope="row">@session.Date.ToString(Config.DateFormat)</td>
                    <td scope="row">@session.KWh</td>
                    <td scope="row">@session.Duration.ToString(Config.TimeSpanFormat)</td>
                    <td scope="row">@session.ChargeType</td>
                    <td scope="row">@session.Car</td>
                    <td scope="row">@session.ThroughNetwork</td>
                    <td scope="row">@session.Price.ToString("C")</td>
                    <td scope="row">@session.Discount.ToString("C")</td>
                    <td scope="row">@((session.Price - session.Discount).ToString("C"))</td>
                </tr>

                @if (IsShowDetails(State, session.Id))
                {
                    <tr>
                        <td colspan="9" class="td-body">
                            <SessionGroupMgr SessionId="session.Id"></SessionGroupMgr>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

